@model Villa_Web.Controllers.example

@{

}
<head runat= " server">


</head>
<h2> Xin Chao Cac Ban</h2>
<body>
	<div class=" = "aksda">
		<input type="submit" name="save" formaction="" / >
		
	</div>

</body>
